<?xml version="1.0" encoding="utf-8"?>
<robot
  name="piper"
  xmlns:xacro="http://ros.org/wiki/xacro">
<!-- world -->
  <link name="base_link"/>
  <joint name="fixed_base_joint" type="fixed">
  
      <!-- <origin xyz="-0.058211 -0.039 0" rpy="0 0 0" /> -->
      <parent link="base_link"/>
      <child link="gripper_base"/>
  </joint>

  <!--gripper link-->
  <link
    name="gripper_base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.45" />
      <inertia
        ixx="0.00092934"
        ixy="0.00000034"
        ixz="-0.00000738"
        iyy="0.00071447"
        iyz="0.00000005"
        izz="0.00039442" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find my_arm_description)/meshes/my_gripper.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find my_arm_description)/meshes/my_gripper.STL" />
      </geometry>
    </collision>
  </link> 
</robot>